
$spacing-utills: (
    'padding': (
        prefix: 'p',
        'values': (
            0: 0,
            1: $base-padding * 1,
            2: $base-padding * 2,
            3: $base-padding * 4,
            4: $base-padding * 6,
            5: $base-padding * 8
        )
    ),
    'padding-left': (
        prefix: 'pl',
        'values': (
            0: 0,
            1: $base-padding * 1,
            2: $base-padding * 2,
            3: $base-padding * 4,
            4: $base-padding * 6,
            5: $base-padding * 8
        )
    ),
    'padding-right': (
        prefix: 'pr',
        'values': (
            0: 0,
            1: $base-padding * 1,
            2: $base-padding * 2,
            3: $base-padding * 4,
            4: $base-padding * 6,
            5: $base-padding * 8
        )
    ),
    'padding-top': (
        prefix: 'pt',
        'values': (
            0: 0,
            1: $base-padding * 1,
            2: $base-padding * 2,
            3: $base-padding * 4,
            4: $base-padding * 6,
            5: $base-padding * 8
        )
    ),
    'padding-bottom': (
        prefix: 'pb',
        'values': (
            0: 0,
            1: $base-padding * 1,
            2: $base-padding * 2,
            3: $base-padding * 4,
            4: $base-padding * 6,
            5: $base-padding * 8
        )
    ),
    'margin': (
        prefix: 'm',
        'values': (
            0: 0,
            1: $base-margin * 1,
            2: $base-margin * 2,
            3: $base-margin * 4,
            4: $base-margin * 6,
            5: $base-margin * 8
        )
    ),
    'margin-left': (
        prefix: 'ml',
        'values': (
            0: 0,
            1: $base-margin * 1,
            2: $base-margin * 2,
            3: $base-margin * 4,
            4: $base-margin * 6,
            5: $base-margin * 8
        )
    ),
    'margin-right': (
        prefix: 'mr',
        'values': (
            0: 0,
            1: $base-margin * 1,
            2: $base-margin * 2,
            3: $base-margin * 4,
            4: $base-margin * 6,
            5: $base-margin * 8
        )
    ),
    'margin-top': (
        prefix: 'mt',
        'values': (
            0: 0,
            1: $base-margin * 1,
            2: $base-margin * 2,
            3: $base-margin * 4,
            4: $base-margin * 6,
            5: $base-margin * 8
        )
    ),
    'margin-bottom': (
        prefix: 'mb',
        'values': (
            0: 0,
            1: $base-margin * 1,
            2: $base-margin * 2,
            3: $base-margin * 4,
            4: $base-margin * 6,
            5: $base-margin * 8
        )
    ),
);
// displays




@each $property, $map in $spacing-utills {
    $prefix: map-get($map, 'prefix');
    $values: map-get($map, 'values');

    // padding/margin to a specific cordinate
    @if ($prefix != 'p' and $prefix != 'm') {
        @each $key, $val in $values {
            .#{$prefix}-#{$key}{
                #{$property}: $val !important;
            }
        }
    }
    @if ($prefix == 'p' or $prefix == 'm'){
        // padding/margin  to both cordinates
        @each $key, $val in $values {
            .#{$prefix}-#{$key}{ 
                #{$property}: $val !important;
            }
        }
        // padding/margin to xcordinate
        @each $key, $val in $values {
            .#{$prefix}x-#{$key}{ 
                padding-left: $val !important;
                padding-right: $val !important;
            }
        }
        // padding/margin  to ycordinate
        @each $key, $val in $values {
            .#{$prefix}y-#{$key}{ 
                padding-top: $val !important;
                padding-bottom: $val !important;
            }
        }
    }
}